body{
  background-color: red;
  font-family: arial
  margin: 0px
}

div{
  min-height: 100vh;
  width: 1000vw;

}
h1, h2 {
  text-align: center;

}
h1 {
  font-size: 5em;
}


img
display: flex;
padding: 20px;
margin: 0 auto;
border-radius: 130px;
}

img {
}
p{
  width: 40%
  margin:10vh 10vw;
  font-size: 2em ;

}
